//active card
.card_main {
  z-index: 10;
  @apply self-center items-center w-full rounded-3xl relative overflow-hidden;
}

.card_main[class*="Active"] {
  background-color: #1db954;

  .card_status {
    background-color: #1db954;
  }
}

.card_main[class*="Inactive"] {
  background-color: #c1c1c1;
  opacity: 0.75;

  .card_status {
    background-color: #c1c1c1;
  }
}

.card_main::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #f5f5f5;
  @apply ml-2 rounded-3xl;
}

.card_body {
  @apply gap-4 flex flex-row items-center rounded-lg px-7 py-5;
}

.card_img {
  height: 77px;
  width: 77px;
  background-color: #eaeaea;
  @apply font-bold text-xl flex justify-center items-center rounded-full uppercase;
}

.card_status {
  font-size: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  right: -35px;
  @apply absolute text-white rounded bottom-1 px-2;
}

.card_content {
  @apply text-left font-medium dark:text-white z-10;
}

.card_createdAt {
  margin-top: -4px;
  @apply text-xs font-light text-gray-500 dark:text-gray-400;
}
